@import "app/styles/_bootstrap-config.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// 浏览器升级
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// 导航菜单
.navbar-default {
  background: url(../images/nav.jpg) left top repeat-x;
  padding: 0px 10px;

  .navbar-nav>li {
    background: url(../images/libg.jpg) right center no-repeat;
    font-size: 16px;
  }

  .dropdown-menu {
    min-width: 6em;
  }
}

// 图片轮播
.carousel-caption {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);

  p {
    margin: 0;
  }
}

// 卡片
.panel-default {
  .panel-heading {
    border-bottom: 2px solid #ce0b0b;
  }

  .panel-body {
    ul {
      margin: 0;
    }
  }
}

// 内联列表
.list-inline {
  li {
    padding: 0px;
    a {
      padding: 0 10px;
    }
  }
}

// 页脚
footer {
  border-top: 3px #ce0b0b solid;
  padding: 15px 0px 10px 0px;
  font-size: $font-size-small;
}
