$icon-font-path: '../fonts/';
@import "app/styles/_bootstrap-config.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// 浏览器升级
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// 导航菜单
nav.navbar-default {
  background: url(../images/nav.jpg) left top repeat-x;
  border: 1px solid #870100;
  padding: 0px 10px;

  ul.navbar-nav {
    >li {
      line-height: 42px;
      >a {
        font-size: $font-size-large;
        color: #FFF;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 42px;
        &:hover {
          background: #b20000;
          color: #fff;
        }
      }
    }

    ul.dropdown-menu {
      a {
        font-size: $font-size-base;
      }
    }
  }
}

// 内联列表
.list-inline {
  li {
    padding: 0px;
    a {
      padding: 0 10px;
    }
  }
}

// 页脚
footer {
  border-top: 3px #ce0b0b solid;
  padding: 15px 0px 10px 0px;
  font-size: $font-size-small;
}

// 卡片
.panel-default {
  .panel-heading {
    border-bottom: 2px solid #ce0b0b;
  }

  .panel-body {
    ul {
      margin: 0;
    }
  }
}
