@import "bootstrap-config";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// 浏览器升级
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;

  a {
    font-weight: bold;
    color: #fff;
  }
}

// 横幅图片
$banner-height: 215px;
.banner {
  height: $banner-height;
  width: 100%;
  background: url(../images/banner.jpg) -300px -34px no-repeat #fff;

  .logo {
    height: $banner-height;
    background: url(../images/logo1.png) 120px 30px no-repeat;
  }
}

// 导航菜单
.navbar-default {
  background: #b20000 url(../images/nav/nav-bar-bg.jpg) left top repeat-x;
  padding: 0px 10px;

  .navbar-nav {

    @media (max-width: 767px) {
      .open .dropdown-menu > li > a {
        line-height: $line-height-base;

        &:hover,
        &:focus {
          color: #262626;
          background-color: #f5f5f5;
        }
      }
    }

    >li {
      background: url(../images/nav/nav-split.jpg) right center no-repeat;
      font-size: 16px;

      a {
        line-height: $line-height-base;
        padding: 7px 15px;
      }
    }
  }

  .dropdown-menu {
    min-width: 6em;
  }
}

// 左侧子导航
.left-nav {
  .title {
    color: #fff;
    background: #CE0A0B url(../images/nav/left-nav-bg.png) 10px no-repeat;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 40px;
    @include border-top-radius($border-radius-large);
  }

  .list-unstyled {
    border: 1px solid #ddd;

    li {
      border-bottom: 1px dashed #dcdcdc;

      a {
        font-size: 14px;
        font-weight: normal;
        color: #444;
        height: 45px;
        line-height: 45px;
        display: block;
        text-align: left;
        text-indent: 50px;
        &:hover {
          background: url(../images/nav/caret.png) 20px 17px no-repeat;
        }
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

// 面包屑导航
.breadcrumb {
  margin: 0px;

  .glyphicon-home {
    color: #CE0A0B;
    margin-right: 0.5em;
  }
}


// 图片轮播
.carousel-caption {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);

  p {
    margin: 0;
  }
}

// 新闻中心
.news-center {
  .panel-heading {
    padding: 0;

    ul {
      border: none;

      li {
        margin: 0;

        a {
          padding: 10px 15px;
          line-height: 17px;
          border: 0;
          font-size: 16px;
        }

        a:hover,
        a:focus {
          color: #fff;
          padding: 10px 15px;
          line-height: 17px;
          border: 0;
        }
      }
    }
  }

  .news-brief {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #dbdbdb;

    h4 {
      margin: 0 auto 5px;

      a {
        color: #cc0000;
      }
    }

    p {
      text-indent: 1em;
      font-size: $font-size-small;
      margin: 0;
    }
  }
}

// 卡片
.panel {
  margin-bottom: 20px;

  .panel-heading {
    border-bottom: 2px solid #ce0b0b;
  }

  .panel-body {
    .list-unstyled {
      margin: 0;
      padding: 0 10px;

      li {
        list-style-image: url(../images/list-style.jpg);
      }
    }
  }
}

// 走马灯
$img-marquee-width: 180px;
$a-marquee-width: ($img-marquee-width + 5);
$div-marquee-width: ceil(($a-marquee-width * 6));
.marquee {
  padding: 16px 0 0 50px;
  background: url(../images/marquee/title.png) no-repeat -1px -1px;
  over-flow: hidden;
  height: 176px;

  .str_wrap .str_move {
    background: #fff;
    width: $div-marquee-width;

    a {
      display: block;
      width: $a-marquee-width;
      float: left;

      img {
        border: 1px solid #eeeeee;
        height: 122px;
        width: $img-marquee-width;
        margin-right: 3px;
        overflow: hidden;
        padding: 2px;
      }

      span {
        display: block;
        font-size: 14px;
        padding: 2px;
      }
    }
  }
}

// friend-link
.friend-link {
  background: url(../images/friend.png) 7px 0px no-repeat;
  padding-left: 110px;
}

// 内联列表
.list-inline {
  li {
    padding: 0px;
    a {
      padding: 0 10px;
    }
  }
}

// 页脚
footer {
  border-top: 3px #ce0b0b solid;
  padding: 15px 0px 10px 0px;
  font-size: $font-size-small;

  p {
    margin: 0;
  }
}

// 文章
.article {
  h3 {
    color: #cc0000;
    margin: 20px;
  }
  p {
    font-size: 16px;
    margin: 20px;
    text-indent: 2em;
    text-align: left;
  }
  img {
    width: 50%;
  }
  .pictrue {
    p {
      text-align: center;
    }
  }
}
